@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

/* Add this to your Tailwind CSS configuration to support the custom animation */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInSlideUp {
  animation: fadeInSlideUp 2s ease-in-out;
}

.delay-500 {
  animation-delay: 0.5s;
}
